<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection,	Microsoft.Practices.Composite"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral" requirePermission="false"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral"/>
  </configSections>
  <appSettings>
  </appSettings>
  <modules>
    <!--<module moduleName="Menu" assemblyFile="Mti.Mnp.Client.Wpf.Modules.dll" moduleType="Mti.Mnp.Client.Wpf.Modules.Menu.ModuleInit, Mti.Mnp.Client.Wpf.Modules, Version=1.0.0.0"/>-->
    <module moduleName="HexViewer" assemblyFile="Neurotoxin.Contour.Modules.dll" moduleType="Neurotoxin.Contour.Modules.HexViewer.ModuleInit, Neurotoxin.Contour.Modules, Version=1.0.0.0"/>
    <module moduleName="ProfileEditor" assemblyFile="Neurotoxin.Contour.Modules.dll" moduleType="Neurotoxin.Contour.Modules.ProfileEditor.ModuleInit, Neurotoxin.Contour.Modules, Version=1.0.0.0"/>
    <module moduleName="FileManager" assemblyFile="Neurotoxin.Contour.Modules.dll" moduleType="Neurotoxin.Contour.Modules.FileManager.ModuleInit, Neurotoxin.Contour.Modules, Version=1.0.0.0"/>
  </modules>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="c:\merc\Contour\Contour.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral" name="FlatFile TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp(yyyy.MM.dd. HH:mm:ss.fff)}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Info">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <!-- the following setting prevents the host from closing when an unhandled exception is thrown -->
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>

  <!-- this section prevents System.Net.InternalException -->
  <system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="includehex" maxdatasize="1024">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Error"/>
      <add name="System.Net.Sockets" value="Error"/>
      <add name="System.Net.Cache" value="Error"/>
    </switches>
    <sharedListeners>
      <!--add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="c:\temp\network.log"
      /-->
      <add name="System.Net"
          type="System.Diagnostics.DefaultTraceListener"
      />
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>